[submodule "common"]
	path = common
	url = https://github.com/Caskia/Jane.git
	branch = netcoreapp2.0 
[submodule "enode"]
	path = enode
	url = https://github.com/Caskia/ENode-Infrastructure.git
	branch = netcoreapp2.0 
